@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
    --primary-color: #fff;
    --second-color: #3a393950;
    --third-color: #000;
    --eight-color: #8890ff;
    --nine-color: #3a39398c;
    --spiral-color: #fff;
    --icon-color: #fff;
    --border-color: #000;
    --back-color: #000;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

canvas {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

.back-preview {
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    left: 0;
    top: 0;
}

.float-div-top-left {
    margin: 10px 0 0 10px;
    display: flex;
    gap: 10px;

    & .separate {
        border-radius: 10px;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        height: 40px;
        padding: 10px 15px;
        border-radius: 20px;
        border: 2px solid var(--border-color);

        & div {
            height: 30px;
        }

        & img {
            width: 30px;
            height: 30px;
            border-radius: 12px;
            padding: 5px;
        }
    }


    & h3 {
        color: var(--third-color);
        font-weight: 600;
        font-size: 16px;
    }
}

.float-div-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
    border-radius: 10px;
    display: grid;
    gap: 10px;

    & .mini-card {
        color: var(--eight-color);
        font-weight: 600;
        font-size: 18px;
    }

    & h1 {
        color: var(--third-color);
        font-size: 25px;
    }
}

.spot {
    width: 100px;
}

.cont-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;

    & .border-load {
        width: 250px;
        height: 250px;
        z-index: 1000;
        border-radius: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        & h1 {
            min-width: 160px;
            max-width: 160px;
            color: var(--third-color);
            font-size: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Finger Paint", sans-serif;
        }
    }
}

.cont-button {
    z-index: 1000;
    gap: 10px;
    display: flex;
    
    & button {
        width: 100px;
        font-size: 25px;
        padding: 5px;
        background-color: var(--back-color);

        & i {
            color: var(--icon-color);
        }
    }
}

& button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}

.themes-cont {
    display: none;
    gap: 10px;
    width: auto;
    position: absolute;
    bottom: 58px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);

    & button {
        color: var(--third-color);
        font-size: 16px;
        text-align: left;
        padding:  8px 15px;
    }
}

.edit-cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    place-items: center;
    overflow: hidden;

    & .settings-cont {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: auto;
        gap: 20px;
        padding: 20px;
        border-radius: 20px;
        background-color: #000;
        backdrop-filter: blur(100px);

        & label {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }

        & input {
            font-size: 16px;
            background-color: #3a393950;
            border: 1px solid #555555;
            border-radius: 6px;
            padding: 8px 10px;
            width: 100%;
            font-weight: 500;
            color: #fff;

            &:focus {
                outline: none;
            }
        }

        & input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
                 appearance: textfield;
        }

        & input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
        }

        & input[type="file"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
                 appearance: textfield;
        }

        & div {
            position: relative;
            & .btn-decrement {
                border-radius: 3px;
                width: 8px;
                height: 15px;
                position: absolute;
                right: 35px;
                background-color: #7b7b80;
            }

            & .btn-increment {
                border-radius: 3px;
                width: 8px;
                background-color: #7b7b80;
                height: 15px;
                position: absolute;
                right: 10px;
            }
        }
    }

    & div {
        & button {
            background-color: var(--second-color);
            font-size: 22px;
            padding: 5px 10px;
            border-radius: 8px;
            cursor: pointer;

            & i { color: var(--third-color); }
        }
    }

    & .columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        & label {
            color: #fff;
            font-weight: 600;
            font-size: 16px;
        }
    }
    
    & .columns2 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        & input {
            display: none;
        }
        
        & button {
            color: var(--third-color);
            font-size: 16px;
            white-space: nowrap;
        }

        & .custom-file-upload {
            background-color: #3a393950;
            border: 1px solid #555555;
            border-radius: 6px;
            font-size: 15px;
            padding: 8px 15px;
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;
            color: #7b7b80;
        }
    }

    & .row {
        display: flex;
        gap: 10px;
        width: 100%;

        & div {
            display: grid;
            gap: 10px;
            width: 100%;
        }
    }
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    background: transparent !important;

    & i { color: #fff !important; }
}

footer {
    width: auto;
    right: 10px;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid var(--border-color);

    & p {
        color: var(--third-color);
        font-size: 15px;
        font-weight: 600;
    }
}
